

nav {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Alinea verticalmente al centro */
  width: 90%;
  padding: 20px;
  
}

.logo {
  align-self: right;
   /* Alinea el logo verticalmente con el inicio del contenedor nav */
}

.logo-image {
  height: 19px;
  width: 96px;
}

.btn {
  height: 50px;
}

.inputs {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  box-shadow: -2px 2px 7px grey;
}

.locationSelect {
  border: 1px solid gray;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border: none;
  font-size: 0.9rem;
  width: 297px;
  height: 55px;
}

.guestsInput {
  border: 0.1px solid gray;
  border-top: none;
  border-bottom: none;
  border-right: none;
  font-size: 0.9rem;
  width: 80px;
}

nav button {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 30px;
  width: 70px;
  border: 0.1px solid gray;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top: none;
  border-bottom: none;
  border-right: none;
}

nav button img {
  width: 80px;
  height: 50px;
  padding: 10px 10px;
}

nav button:hover {
  background-color: rgb(203, 212, 203);
}

nav input::placeholder {
  padding-left: 10px;
  font-size: 0.9rem;
  font-family: Mulish;
  font-style: normal;
  font-weight: 400px;
  line-height: normal;
  color: gray;
}

.listings, .stay-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  align-items: left;
}

.listing, .stay-item {
  padding: 20px;
  margin: 2px;
  overflow: hidden;
  width: 100%;
  height: 350px;
  display: flex; /* Agregar display: flex */
  flex-direction: column; /* Agregar flex-direction: column */
  align-items: left; /* Agregar align-items: center */
}

.listing img, .stay-image {
  width: 394px;
  height: 267px;
  border-radius: 15px 15px 15px 15px;
}
.star{
  width: 24px;
  align-items: right; 
}

.listing h3, .stay-info li {
  margin: 10px 0;
  height: 50px;
}

.listing p, .stay-info li {
  margin: 0;
  color: #666;
  height: 20px;
  width: 393px;
  text-align: right;
 
}

footer {
  margin-top: 20px;
  text-align: center;
  color: #666;
}

.stay-info {
  display: flex;
  flex-direction:column;
  gap: 5rem;
}

.stay-info li {
  list-style: none;
  font-size: 12px;
  font-weight: 500;
  color: #333;
}

.main-header {
  align-self: left; 
}

.superhost {
  text-align: center;
  font-weight: 700;
  border: 1px solid #000;
  border-radius: 12px;
  padding: 4px 9px 4px 9px;
  color: #4F4F4F;
  font-size: 12px;
}