nav{
  display: flex;
  justify-content: space-between;
  width: 100%;

}
.logo{
  display: flex;
  align-items: center;
}
.logo-image {
  height: 30px;

}

.inputs{

  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  box-shadow: -2px 2px 7px grey;

}

.locationSelect{
  border: 1px solid gray;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border: none;
  font-size: 0.9rem;
  width: 180px;
}

.guestsInput{
  border: 0.1px solid gray;
  border-top: none;
  border-bottom: none;
  border-right: none;
  font-size: 0.9rem;
  width: 100px;
}

nav button{
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 52px;
  width: 70px;
  border: 0.1px solid gray;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top: none;
  border-bottom: none;
  border-right: none;
}

nav button img {
  width: 30px ;
  height: 30px;
  padding: 10px 10px;
}


nav button:hover{
  background-color: rgb(156, 240, 156) ;
}

nav input::placeholder{
  padding-left: 10px;
  font-size: 0.9rem;
  font-family: Mulish;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: gray;
}
.listings, .stay-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px; /* Ajustar espacio entre elementos */
}

.listing, .stay-item {
  background-color: #f5f5f5; /* Cambiar color de fondo */
  padding: 10px;
  border-radius: 10px; /* Ajustar radio de borde */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Añadir sombra */
  overflow: hidden; /* Ocultar desbordamiento */
}

.listing img, .stay-image {
  width: 100%;
  height: 200px; /* Ajustar altura fija */
  object-fit: cover;
  border-radius: 10px 10px 0 0; /* Ajustar radio de borde */
}

.listing h3, .stay-info li {
  margin: 10px 0;
}

.listing p, .stay-info li {
  margin: 0;
  color: #666; /* Ajustar color de texto */
}

/* Footer */
footer {
  margin-top: 20px;
  text-align: center;
  color: #666;
}

.stay-info {
  display: flex;
  flex-direction: column;
  gap: 0.2rem; /* Reducir el espacio entre los elementos */
  padding: 10px; /* Añadir padding interno */
}

.stay-info li {
  list-style: none;
  font-size: 12px; /* Reducir el tamaño de fuente */
  font-weight: 500; /* Peso de fuente más ligero */
  color: #333; /* Color de texto más oscuro */
}
